/* Header
------------------------------------------------------------*/

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &_logo {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;

    @include maxW(1023px) {
      top: 20px;

      svg {
        width: 134.13px;
        height: auto;
      }
    }
  }
}
